.main {
  padding: 4rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 1199px) {
  .main {
    padding: 3rem;
  }
}

@media (max-width: 899px) {
  .main {
    padding: 2rem 0 0 0;
  }

  .container {
    flex-direction: column;
  }
}
